.content {
  --background: rgb(245, 235, 247);
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.custom-datetime {
  width: 100%;
}

ion-datetime {
  --background: rgb(245, 235, 247);
  --background-rgb: 245, 235, 247;
  --wheel-highlight-background: rgb(218, 216, 255);
  --wheel-fade-background-rgb: 245, 235, 247;
}

ion-datetime::part(wheel-item) {
  color: #34245b;
}

ion-datetime::part(wheel-item active) {
  color: rgb(128, 30, 171);
}

.btns-modal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
