<ion-content>
  <div class="app-header">
    <div class="content-header">
      <div class="itens-row-title">
        <ion-buttons class="btn-menu" slot="start">
          <ion-button (click)="backPage()">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <p>CONSULTA DE PRODUTOS</p>
      </div>
      <div class="itens-row">
        <ion-searchbar
          class="custom"
          id="input-product"
          [(ngModel)]="inputValue"
          (ionChange)="searchProduct()"
          placeholder="Descrição"
        ></ion-searchbar>
        <div class="icons-search">
          <ion-icon
            class="icons-options"
            name="options-outline"
            (click)="openModal()"
          ></ion-icon>
          <ion-icon
            class="icons-options"
            name="barcode-sharp"
            (click)="openScannerProduct()"
          ></ion-icon>
          <ion-icon
            class="icons-options"
            name="search-outline"
            (click)="searchProduct()"
          ></ion-icon>
        </div>
      </div>
    </div>
  </div>
  <ion-modal class="modal-filter-product" trigger="open-modal">
    <ng-template>
      <ion-header class="modal-header">
        <div class="itens-row-title">
          <ion-buttons class="btn-menu" slot="start">
            <ion-button (click)="closeModal()">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <p>FILTRAR PRODUTOS</p>
        </div>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="inputs-rows">
          <ion-item>
            <ion-select
              label="Filtrar por"
              [(ngModel)]="sFitrar"
              label-placement="stacked"
              value="Descrição"
            >
              <ion-select-option value="Referência"
                >Referência</ion-select-option
              >
              <ion-select-option value="Descrição">Descrição</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-select
              [(ngModel)]="sTipo"
              label="Posição"
              label-placement="stacked"
              value="Somente no início"
            >
              <ion-select-option value="Igual">Igual</ion-select-option>
              <ion-select-option value="Somente no início"
                >Somente no inicio</ion-select-option
              >
              <ion-select-option value="Em qualquer posição"
                >Em qualquer posição</ion-select-option
              >
            </ion-select>
          </ion-item>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <div class="container-cards">
    <ion-card
      *ngFor="let product of products"
      (click)="selectProductModal(product)"
    >
      <ion-card-content class="card-content">
        <div class="produtcs-imagem">
          <img
            [src]="product.imagem ? product.imagem : 'assets/img/Produto-Sem-Imagem.jpg'"
            class="img-prod"
          />
        </div>
        <div class="info-card">
          <ion-card-title class="Values-card">
            <span class="Bold-title">{{ product.sDscProduto}}</span>
          </ion-card-title>
          <ion-card-subtitle class="Values-card">
            <span class="bold-title"
              >REF: {{ product.sCodProduto }}</span
            ></ion-card-subtitle
          >
          <ion-card-subtitle class="Values-card">
            <span class="qtd-estoque"
              >Quantidade Estoque Atual: {{product.nQtdAtual}}</span
            ></ion-card-subtitle
          >
          <ion-card-subtitle class="Values-card">
            <span class="Bold-title-color"
              >Valor Unit.: R${{formatNumber(product.nValUnit)}}</span
            >
          </ion-card-subtitle>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
