



<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="filtro" (ionChange)="filtrarProdutos()"></ion-searchbar>
  </ion-toolbar>
</ion-header>
 -->
<!-- <ion-content [fullscreen]="true"> 
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Produtos</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div class="input-fixed">
    <ion-searchbar id="searchInput" placeholder="Consultar clientes" [(ngModel)]="filtro" (ionChange)="filtrarProdutos()"></ion-searchbar>
  </div>
 
    
     <!--  <ion-card *ngFor="let produto of produtos" color="tertiary"> -->
      <ion-content class="list-products">
        <!-- Seu conteúdo aqui -->
        
   

       
      
        <ion-card *ngFor="let prevenda of allPreVenda">
          
      
          <ion-card-content class="card-content">
            <div class="iSeqVendaDia">
              {{prevenda.iSeqVendaDia}}
            </div>
            <div class="info-card">
              <ion-card-title class="Values-card">
                <span class="Bold-title">{{ prevenda.sNomeCliente }}</span>
              </ion-card-title>
             <ion-card-subtitle class="Values-card">
              <span class="data-label">DATA: {{ formatDate(prevenda.dVendaDia) }}</span></ion-card-subtitle>
             <ion-card-subtitle class="Values-card">
              <span class="Bold-title">QTD: {{prevenda.nQtdTotalProd}}</span></ion-card-subtitle>
             <ion-card-subtitle class="Values-card">
              <span class="Bold-title-color">VALOR: R${{formatNumber(prevenda.nValVenda)}}</span>
            </ion-card-subtitle >
            </div>
          </ion-card-content>
        </ion-card>
        
        <ion-fab>
          <ion-fab-button color ="secondary">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>

    
    
      </ion-content>