ion-content.list-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100% - 56px); /* Altura da tela menos a altura do botão flutuante */
  overflow-y: auto;
  --ion-safe-area-top: 0;
  --ion-safe-area-bottom: 56px;
  
  .scroll-content {
    padding-bottom: 56px; /* Altura do botão flutuante */
  }
}

ion-fab {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  position: fixed;
  bottom: 4px;
}

#searchInput {
  margin-top: 28%;
  
}


.iSeqVendaDia { 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px; 
  width: 108px;
  height: 64px!important;
  margin-right: 4%;
  background-color: #34245b;
  color: #ffff00;
}

.card-content { 
  display: flex;
  flex-direction: row; 
  justify-content: flex-start;
  align-items: center;
}

.info-card { 
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
}

span.Bold-title { 
  color: black;
  font-weight: bold;
  font-size: 12px;
}

.Values-card { 
  font-size: 12px;
}

span.Bold-title-color {
  color: #0280d3;
  font-weight: bold;
}

.data-label{
  color: black;
}
