<ion-header class="desconto-header">
  <div class="container-btn">
    <button class="btn-back" (click)="closeModal()">
      <ion-icon name="arrow-back-outline" style="font-size: 24px"></ion-icon>
    </button>
  </div>
  <div class="txt-column">
    <ion-title>QUANTIDADE </ion-title>
  </div>
</ion-header>

<!--  -->
<ion-content [fullscreen]="true">
  <!--  <h3 style="margin-top: 50%; margin-left: 16px; font-size: 12px">Tipo</h3> -->

  <ion-item style="border-color: blue; margin-top: 30%">
    <ion-label color="medium" position="floating">Quantidade </ion-label>
    <ion-input
      class="input-customizado"
      type="number"
      inputmode="numeric"
      no-arrows
      [(ngModel)]="qtdFracionada"
    ></ion-input>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="addQtdFracionada()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
